/* =========================================================
   1) RESET / NORMALIZE
   (tu normalize.css ya cubre esto, no repetimos nada)
========================================================= */

/* =========================================================
   2) VARIABLES (opcional, no tienes)
========================================================= */

/* =========================================================
   3) ESTILOS GLOBALES
========================================================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: #121212;
	margin: 0;
	font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins", sans-serif;
}

/* =========================================================
   4) LAYOUT: HEADER, NAV, HERO, aboutus
========================================================= */

/* ----- HEADER ----- */
.header {
	background-color: #0a558b;
}

/* ----- NAV STRUCTURE ----- */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

	position: relative;
}

.nav__logo img {
	width: 180px;
	height: auto;
	display: block;
}

/* ----- NAV: toggle button (mobile) ----- */
.nav__toggle {
	display: block;
	background: none;
	border: none;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
}

/* ----- NAV: menu (mobile) ----- */
.nav__menu {
	list-style: none;
	
	display: none;
	flex-direction: column;
	background-color: #0a558b;
	width: 100%;
	padding: 1rem;
	gap: 1rem;

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

/* ----- NAV: menu when opened ----- */
.nav__menu.active {
	display: flex;
}

.nav__menu a {
	color: #fff;
	text-decoration: none;
}

/* ----- HERO ----- */
.hero {
	background-color: #0a558b;
	color: #fff;
	padding: 2rem 1rem;
	text-align: center;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* ----- About Us ----- */

.aboutus {
	display: flex;
	flex-direction: column; /* Movil: apliado*/
	align-items: center;
	gap: 1.25rem;
	padding: 1.25rem;
	max-width: 1200px;
	margin: 0 auto;
}

.aboutus__text h2{
	margin-bottom: 1rem;
	/* text-align: center; */
}

.aboutus__text p{
	line-height: 1.6;
	text-align: justify;
}

.aboutus__img img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: .5rem;
}

/* ---- Cursos Corportivos ----- */

.corporation {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 1.25rem;
	padding: 1.25rem;
	max-width: 1200px;
	margin: 0 auto;
}

.corporation__text h3{
	margin-bottom: 1rem;
}

.corporation__text p{
	line-height: 1.6;
	text-align: justify;
}

.corporation__img img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: .5rem;
}

/* ---- Modalidades ----- */

.modalidades_container{
	padding: 1.25rem;
}

/* ---- Clientes ----- */



.clientes__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	justify-items: center;
	align-items: center;
	
	max-height: 120px;
	overflow: hidden;
	transition: max-height 0.4 ease;
	background-color: #0a558b;
}

.clientes__grid.is-open{
	max-height: 1000px;
}

.clientes__toggle{
	display:block;
}

.cliente {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	height: 90px;
}

.cliente img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.sanbartolome img{
	max-height: 130px;
}

.sanjose img{
	max-height: 100px;
}

 .bernales img{
	max-height: 90px;
}

.larcoherrera img{
	max-height: 100px;
}

/*.inabif img{
	max-height: 120px;
}

.concytec img{
	max-height: 100px;
}

.ceplan img{
	max-height: 100px;
} */


/* =========================================================
	5) COMPONENTES (buttons, cards...) 
========================================================= */

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.5rem;
	font-weight: 600;
	text-align: center;
	transition: 0.3 ease;
	margin: 0.3rem;
	cursor: pointer;
}

.btn-primary{
	color: #0a558b;
	background-color: #fff;
}


.btn-primary:hover {
	background-color: #121212;
	color: #fff;
}

.btn-secondary {
	background-color: transparent;
	border: 0.125rem solid #fff;
	color: white;
}

.btn-secondary:hover {
	background-color: #121212;
	border: 0.125rem solid #121212;
	color: #fff;
}

/*Card con contadores*/

.stats-card {
	padding: 1.5rem;
	display: flex;
	justify-content: center;
}

.stats-card__container{
	background-color: #fff;
	padding: 2.5rem;
	border-radius: 1.5rem;
	max-width: 900px;
	width: 100%;
	display: grid;
	gap: 2rem;
	box-shadow: 0 8px 24px rgba(0,0,0,0.1);
	border: 2px solid #0a558b20;
}

.stats-card__item{
	text-align: center;
}

.stats__number{
	font-size: 3rem;
	font-weight: 700;
	color:#0a558b;
	opacity: 0;
	transform: translateY(25px) scale(.9);
	transition: opacity .8s ease, transform 0.8s ease;
}

.stats__number.visible{
	opacity: 1;
	transform:translateY(0) scale(1);
}

.stats__label{
	margin-top: .5rem;
	color: #333;
	font-weight:400;
}


/*Card con modalidades*/

.modalidades__grid{
	padding-top: 2rem ;
	display: grid;
	gap:20px;
}

.modalidad-card{
	background-color: #fff;
	padding: 2rem;
	max-width: 900px;
	width: auto;
	margin:0 auto;
	box-shadow: 0 8px 24px rgba(0,0,0,0.1);
	border: 2px solid #0a558b20;
	border-radius: 1.5rem;
}

.modalidad-card__title{
	text-align: center;
}

.modalidad-card__content{
	text-align: justify;
}


/* =========================================================
   6) UTILIDADES 
   (no tienes clases utilitarias aún)
========================================================= */

/* =========================================================
   7) MEDIA QUERIES
========================================================= */

/*============================
	TABLET
==============================*/

@media (min-width: 768px) {	
	
	/* About us */

	.aboutus {
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		margin: 50px;
		/* background-color: blue; */
	}

	.img__aboutus {
		flex: 0 0 65%;
	}

	.aboutus__text {
		flex: 0 0 35%;
	}

	.aboutus__title {
		margin-top: 0;
	}

	.aboutus p {
		text-align: left;
	}

	.corporation {
		flex-direction:column;
		align-items: flex-start;
		gap: 40px;
		margin: 50px;
		/* background-color: blue; */
	}

	/*Card con contadores*/

	.stats-card__container{
		grid-template-columns: repeat(2, 1fr);
		margin: 50px;
	}

	.stats__number{
		font-size: 3.5rem;
	}

	/*Modalidades*/
	.modalidades{
		margin: 50px;
	}


	/* Clientes */

	.clientes__grid {
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		max-height: 200px;
	}

	.cliente {
		height: 70px;
	}

	.sanbartolome img{
		max-height: 130px;
	}

	.sanjose img{
		max-height: 100px;
	}

	.bernales img{
		max-height: 100px;
	}

	.larcoherrera img{
		max-height: 120px;
	}

	.inabif img{
		max-height: 120px;
	}

	.concytec img{
		max-height: 100px;
	}

	.ceplan img{
		max-height: 100px;
	}


}

/*============================
	DESKTOP
==============================*/

@media (min-width: 1024px) {
	
	.nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 20px 80px
	}
	
	.nav__menu {
		position: static;
		display: flex;
		flex-direction: row;
		gap: 25px;
		width: auto;
		background-color: transparent;
		align-items: center;
	}
	
	/* Ocultar hamburguesa */
	.nav__toggle {
		display: none;
	}
	
	.nav__menu a.btn__campus{
		display: inline-block;
		background-color: #fff;
		padding: 10px 30px;
		border-radius: 50px;
		font-weight: 500;
		color: #0a558b;
		text-decoration: none;

		transition: 
			background-color 0.3 ease,
			color 0.3 ease,
			transform 0.25s ease,
			box-shadow 0.25 ease; 
	}

	.nav__menu a.btn__campus:hover{
		background-color: #121212;
		color: #fff;
		transform: translateY(-2px);
		box-shadow: 0 6px 16px rgba(0,0,0,0.15);
	}


	/* SOBRE NOSOTROS    SOBRE NOSOTROS    SOBRE NOSOTROS    */
	
	.aboutus{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 3rem;
		padding-top: 50px;
		margin: 0 auto;
		max-width: 1200px;
	}
	
	.aboutus__text{
		flex: 0 0  60%;
		text-align: left;
		/* font-size: 1.1rem; */
	}
	
	.aboutus__title{
		font-size: 3.33rem;
		text-align: left;
	}
	
	.img__aboutus{
		flex: 0 0 40%;
		object-fit: contain;
	}
	
	.img__aboutus img{
		width: 600px;
	}
	
	/* CORPORATIVOS    CORPORATIVOS    CORPORATIVOS    */
	
	.corporation{
		margin: 0 auto;
		max-width: 1200px;
		/* font-size: 1.1rem */
	}
	
	/* MODALIDADES    MODALIDADES    MODALIDADES    */
	
	.modalidades{
		margin: 0 auto;
		max-width: 1200px;
	}

	/* .modalidades_container{
		padding: 50px 100px;
	} */

	.modalidades__grid{
		display: flex;
		flex-direction: row;
	}
	
	/* CLIENTES    CLIENTES    CLIENTES    */

	.clientes{
		margin: 100px 50px;
		padding: 20px
	}
	
	.clientes_grid{
		grid-template-columns: repeat(6, 1fr);
		gap: 1.5rem;
		max-height: none;
		overflow: visible;
	}

	.cliente {
		height: 80px;
	}

	.clientes__toogle{
		display: none;
	}

}